body{
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Raleway', sans-serif !important;
	max-width: 1366px;
	margin: 0 auto;
}

header{
	background-image: url(img/hhh.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center left;
	background-attachment: fixed;
	text-align: center;
	min-height: 700px;
	max-height: 800px;
}

#logo{
	position: relative;
	top: 150px;
	left: 10%;
	color: black;
	background-color: white;
	width: 30%;
	padding: 5px;
	opacity: .7;
	border-radius: 15px;
}

#logo h3{
	margin: 0;
}


nav{
	/*-webkit-box-shadow: 1px 3px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 3px 11px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 3px 11px 0px rgba(0,0,0,0.75);*/
		max-width: 1366px;
	margin: 0 auto;
}

header img{
	max-width: 20%;
	height: auto;
	margin-top: 14em;
	overflow: hidden;
	
}

header h3{ 
	color: #db252a; 
	margin: 3rem 0 0 0; 
	padding: 10px 0 5px 0;
}

header p{
	transition: 1s all;
	color: #000; 
	margin: 0; 
	padding: 5px 0 5px 0;
}

.navbar-light .navbar-nav .nav-link{
	color: rgba(0,0,0, 1) !important;
	font-weight: 800 !important;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: rgba(219, 37, 42, 1) !important;
	transition: .2s all ease-in-out;
}

/*.navbar{
	padding: .5rem 15rem !important;
}*/

.navbar-light .navbar-toggler{
	border: none !important;	
}

main{
	width: 90%;
	color: black;
	padding: 20px 0;
	margin: 0 auto;
}

section{
	width: 50%;
	padding: 10px;
	float: left;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

section:hover{
	opacity: .8;
	cursor: pointer;
}
	
section img{
	width: 100%;
	height: auto;
	position: relative;
}

section .napis{
	position: absolute;
	bottom: 0; left: 0;
	color: black;
	padding: 10px 10px 20px 10px;
	background-color: white;
	width: 100%;
	opacity: .7;
}

.footer1{
	background-color: #E3E3E3;
	color: black;
	width: 100%;
	padding: 30px 5%;
	margin: 0 auto;
}

.footer-container1{
	width: 30%;
	float: left;
	text-align: center;
}

.footer-container1 iframe{
	width: 340px;
	
}

.footer-container2{
	width: 70%;
	float: left;
	text-align: center;
}

.footer-container2 iframe{
	width: 80%;
	height: 500px;
}

.footer1 h3{
	color: #db252a;
	font-weight: 800;
}

.footer1 p{
	margin: 0;
	padding: 0;
}

.footer1 img{
	margin: 0;
	padding: 0;
	width: 150px;
	height: auto;
	float: left;
}

.contact{
	float: left;
	margin-left: 20px;
}

.footer2{
	background-color: #db252a;
	padding: 10px 5%;
	text-align: left;
	font-size: 14px;
}

@media (max-width: 400px){
	header h3{
		background-color: white;
		margin-bottom: 0;
	}

	header p{
		background-color: white;
		margin: 0;
	}
}

@media (min-width: 400px){
	.navbar-brand.m-auto{
		margin-right: auto;
		margin-left: 0 !important;
	}
}

@media (max-width: 991px){
	main section{
		float: none !important;
		width: 90% !important;
		margin: 20px auto !important;
	}

	section img{
		margin: 0 auto !important;
		width: 100%;
	}
}

@media (max-width: 350px){
	.navbar-brand{
		display: none;
	}
}

@media (max-width: 630px){
	header{
		background-position: center center;
	}
}